/*Scrollbar*/
*{
    -ms-overflow-style: none;
    scrollbar-width: none; /*Firefox*/
}
*::-webkit-scrollbar { /*Chrome*/
    display: none;
  }


/*Hintergründe*/
.background{
    background: url(/Images/Hintergrund/main_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.info_background{
    background: url(../Images/Hintergrund/info_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*Navigationsleiste*/
.topnav {
    overflow: hidden;
}
  
.topnav a {
 float: left;
 display: block;
 color: #e2d3d3;
 text-align: left;
 padding: 10px 3.2px;
 font-size: 17px;
}

.topnav a:hover {
background-color: #e6e6df;
border-radius: 5px;  
}

#myTopnav a.nav-link{
    margin: 0px;

}
#myTopnav{
    margin-top: 0.46em;
}

/*Impressum*/
.datenschutz{
    text-align: left;
}

.kontaktinfo{
    text-align: center;
    
}
/*Menü*/
.text_infront{
    position: absolute; top: 85%;
        left: 50%;
        transform: translate(-50%, -85%);
        background-color: white;
        padding: 5px;
        border-radius: 5px;
}

.td-form:hover{
    transform: scale(1.1);
   }

.menue_img{
    margin: 15px 12px 10px 12px;
    border-radius: 5px;
}
.td-form{
    position: relative; 
    text-align: center;
}

.pizza_info_h1{
    font-family: berlin;
    color: white;
    border-radius: 5px;
    position: absolute; top: 20%;
    left: 50%;
        transform: translate(-50%, -85%);
    text-align: center;
    text-shadow: 0 0 8px black;
}
.pizza_info_zutaten{
    font-family: berlin;
    margin-top: 190px;

}

.info_text{
    font-family: berlin;
    font-size:x-large;
    margin-left: 35px;
    margin-right: 35px;
}

.info_text_ueber{
    font-family: berlin;
    font-size: xx-large;
}

.images > tbody > tr{
    display:flex !important;
    flex-flow: row wrap;
    justify-content: center;
}
.marg{
    margin-top: 85px; /*Abstand zur Nav*/
}
/*Pizza ersteller*/
.pizza_conf{
    color: aliceblue;
}
/*Infoseite*/
.info{
    text-decoration: none;
}
