/*Hintergründe*/
.background{
    background: url(../Images/Hintergrund/main_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.info_background{
    background: url(../Images/Hintergrund/info_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*Navigationsleiste*/
.topnav {
    overflow: hidden;
}
  
.topnav a {
 float: left;
 display: block;
 color: #e2d3d3;
 text-align: left;
 padding: 10px 3.2px;
 font-size: 17px;
}

.topnav a:hover {
background-color: #e6e6df;
border-radius: 5px;  
}

#myTopnav a.nav-link{
    margin: 0px;

}
#myTopnav{
    margin-top: 0.46em;
}

/*Impressum*/
.datenschutz{
    text-align: left;
}

.kontaktinfo{
    text-align: center;
    
}
/*Menü*/
.text_infront{
    position: absolute; top: 85%;
        left: 50%;
        transform: translate(-50%, -85%);
        background-color: white;
        padding: 5px;
        border-radius: 5px;
}

.menue_img{
    margin-top: 15px;
    margin-left: 21.5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.td-form{
    position: relative; 
    text-align: center;
}

.pizza_info_h1{
    background: url(../Images/Pizzen/Infos/background_h1.jpg) no-repeat center center fixed;
    background-size: 2900px;
    border-radius: 5px;
    position: absolute; top: 15%;
    left: 50%;
        transform: translate(-50%, -85%);
    text-align: center;
}
.pizza_info_zutaten{
    margin-top: 90px;
}
/*Infoseite*/
.info{
    text-decoration: none;
}