

/*Scrollbar*/
*{
    -ms-overflow-style: none;
    scrollbar-width: none; /*Firefox*/
}
*::-webkit-scrollbar { /*Chrome*/
    display: none;
  }


/*Hintergründe*/
.background{
    background: url(../Images/Hintergrund/main_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.info_background{
    background: url(../Images/Hintergrund/info_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*Navigationsleiste*/
.topnav {
    overflow: hidden;
}
  
.topnav a {
 float: left;
 display: block;
 color: #e2d3d3;
 text-align: left;
 padding: 10px 3.2px;
 font-size: 17px;
}

.topnav a:hover {
background-color: #e6e6df;
border-radius: 5px;  
}

#myTopnav a.nav-link{
    margin: 0px;

}
#myTopnav{
    margin-top: 0.46em;
}
.marg{
    margin-top: 85px; /*Abstand zur Nav*/
}
.navbar-but{
    color: white;
}

/*Impressum*/
.datenschutz{
    text-align: left;
}

.kontaktinfo{
    text-align: center;
    
}
/*Menü*/
.text_infront{
    position: absolute; top: 85%;
        left: 50%;
        transform: translate(-50%, -85%);
        background-color: white;
        padding: 5px;
        border-radius: 5px;
}

.td-form:hover{
    transform: scale(1.1);
   }

.menue_img{
    margin: 15px 12px 10px 12px;
    border-radius: 5px;
}
.td-form{
    position: relative; 
    text-align: center;
}

.pizza_info_h1{
    font-family: berlin;
    color: white;
    border-radius: 5px;
    position: absolute; top: 20%;
    left: 50%;
        transform: translate(-50%, -85%);
    text-align: center;
    text-shadow: 0 0 8px black;
}
.pizza_info_zutaten{
    font-family: berlin;
    margin-top: 190px;

}

.info_text{
    font-family: berlin;
    font-size:x-large;
    margin-left: 35px;
    margin-right: 35px;
}
.info-txt{
   color: white; 
   font-size: medium;
   margin-left: 15px;
   text-decoration: none;
}

.info_text_ueber{
    font-family: berlin;
    font-size: xx-large;
}

.images > tbody > tr{
    display:flex !important;
    flex-flow: row wrap;
    justify-content: center;
}

.text_info{
    margin-top: 10px;
    margin-bottom: 50px;
}

/*Pizza ersteller*/
.pizza_conf{
    color: aliceblue;
}
.pizza_config_own{
    color: aliceblue;
    margin-top: 100px;
}
.form_div{
    display: flex;
    justify-content: center;
}
.form_h{
    color: white;
    outline: #222;
}
.form_label{
    color: white;
    outline: #222;
    
}
.form_reset{
    border-radius: 8px;
}

.form_submit{
    border-radius: 8px;
}
.form_text{
    color: white;
    text-align: center;
}
.form_text_checkbox{
    color: white;
    text-align: center;
}

/*Infoseite*/
.info{
    text-decoration: none;
}

#select {
	display: block;
	font-size: 1.5em;
	padding: .6em 1.4em .5em .8em;
	width: 20em;
	max-width: 100%;
	
	
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
	border-radius: .5em;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	
	
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	
	
	background-position: right .7em top 50%, 0 0;

	background-size: .65em auto, 100%;
}


select::-ms-expand {
	display: none;
}


select:hover {
	border-color: #888;
}

select > *:hover {
	background-color: #dfac20;
}


select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}


select option {
	font-weight: normal;
}

label {
	display: inline-block;
	margin-bottom: 1em;
}

output {
	font-family: courier;
	font-size: 2em;
	color: #c32e04;
}

/*Pizza bestellung*/
.marg_pizza_be{
    margin-left: 40px;
}
.info_ersteller{
    display: flex;
    justify-content: center;
}

/*Google Maps einbindung*/
.google_maps{
    display: flex;
    justify-content: center;
    border-radius: 35px;
    
}
/*Kontakseite*/
.kontaktform{
    display: flex;
    justify-content: center;
}
.marge{ /*margin für email*/
    margin-left: 79px;
}
.inputk{ /*abgerundete Kanten für Inputs*/
    border-radius: 78px;
}
.inputte{
    border-radius: 15px;
}
/*Impressum*/
.imp{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}
/*Bestellseite*/
.bestellseite{
    color: white;
}

/*Karriere*/
.textbox{
    border-radius: 9px;
}
.erwartungen{
    color: white;
    display: flex;
    justify-content: center;
  
}
/*PHP*/
.h2_php{
    color: white;
    display: flex;
    justify-content: center;
}
/*Bewerbung*/
.mailto_bewerbung{
    margin-top: 65px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: larger;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.mailto_bewerbung_a{
    text-decoration: none;
}
.hover_mail:hover{
    font-size: 22.5px;
}
